In [1]:
import numpy as np

import pandas as pd
from pandas import Series, DataFrame

import matplotlib.pyplot as plt

In [2]:
raw = pd.read_excel('jane-acme-scores.xlsx', sheet_name='Product', usecols=1, header=None)
scorer, product = raw.iloc[0][1], raw.iloc[1][1]
print('scorer', scorer, 'product', product)

scorer Jane Doe product Acme Widget

In [3]:
raw = pd.read_excel('jane-acme-scores.xlsx', sheet_name='Product')
print('raw\n', raw)

raw
                          Scorer     Jane Doe Unnamed: 2  Unnamed: 3  \
0                       Product  Acme Widget        NaN         NaN
1                           NaN          NaN        NaN         NaN
2               Technical Specs          NaN        NaN         NaN
3                   Requirement        Score      Notes         NaN
4   Must be able to hold 20 oz             5        NaN         NaN
5                      Flexible            2        NaN         NaN
6         Gizmos to the wingnut            4        NaN         NaN
7                           NaN          NaN        NaN         NaN
8                     Packaging          NaN        NaN         NaN
9                   Requirement        Score      Notes         NaN
10         Pleasant apppearance            4        NaN         NaN
11                 Easy to open            1        NaN         NaN
12                   Recyclable            3        NaN         NaN

   Unnamed: 4  Unnamed: 5
0       Scale         NaN
1           0  No Support
2           1    Very Bad
3           2         Bad
4           3         Meh
5           4   Very Good
6           5   Excellent
7         NaN         NaN
8         NaN         NaN
9         NaN         NaN
10        NaN         NaN
11        NaN         NaN
12        NaN         NaN

In [4]:
raw = pd.read_excel('jane-acme-scores.xlsx', sheet_name='Product', skiprows=2, usecols=2)
raw.columns = ['requirement', 'score', 'notes']
print('raw\n', raw)
header_indexes = raw.index[raw['requirement'] == 'Requirement'].tolist()
header_indexes = list(reversed(header_indexes))
print('header_indexes', header_indexes)

raw
                     requirement  score  notes
0               Technical Specs    NaN    NaN
1                   Requirement  Score  Notes
2   Must be able to hold 20 oz       5    NaN
3                      Flexible      2    NaN
4         Gizmos to the wingnut      4    NaN
5                           NaN    NaN    NaN
6                     Packaging    NaN    NaN
7                   Requirement  Score  Notes
8          Pleasant apppearance      4    NaN
9                  Easy to open      1    NaN
10                   Recyclable      3    NaN
header_indexes [7, 1]

In [5]:
scores = DataFrame()

for hi in header_indexes:
    category = raw.iloc[hi-1][0]
    sub_scores = DataFrame(raw.iloc[hi+1:])
    sub_scores['category'] = category
    sub_scores['scorer'] = scorer
    sub_scores['product'] = product
    sub_scores = sub_scores[pd.notnull(sub_scores['requirement'])]

    scores = scores.append(sub_scores)
    raw = raw.iloc[0:hi-1]

    
scores

,requirement,score,notes,category,scorer,product
8,Pleasant apppearance,4,NaN,Packaging,Jane Doe,Acme Widget
9,Easy to open,1,NaN,Packaging,Jane Doe,Acme Widget
10,Recyclable,3,NaN,Packaging,Jane Doe,Acme Widget
2,Must be able to hold 20 oz,5,NaN,Technical Specs,Jane Doe,Acme Widget
3,Flexible,2,NaN,Technical Specs,Jane Doe,Acme Widget
4,Gizmos to the wingnut,4,NaN,Technical Specs,Jane Doe,Acme Widget